<mat-toolbar>
    <button routerLink="/home">Home</button>
</mat-toolbar>
<button routerLink="/home">Back</button>

<div class="container">
    <div class="title">
        <div class="name-1">
            <h3>Rating</h3>
        </div>
    </div>

    <div class="wrapper">
           <div class="infomation">
               
           </div>

           <div class="picture">
                <div class="title-picture">
                    <h4>Back up</h4>
                </div>
                 <!-- Loop Show cat -->
                <div class="user">
                    <img src="../../../assets/img/American Shorthair.png" alt="">
                    <i class='bx bxs-heart'></i>
                    <h5>69 Like</h5>
                    <i class='bx bx-up-arrow-alt'></i>
                </div>

                <div class="user">
                    <img src="../../../assets/img/American Shorthair.png" alt="">
                    <i class='bx bxs-heart'></i>
                    <h5>69 Like</h5>
                    <i class='bx bx-down-arrow-alt' ></i>
                </div>
           </div>
    </div>
</div>
