<mat-toolbar>
    <button routerLink="/home">Home</button>
</mat-toolbar>

<div class="container">
    <div class="title">
        <div class="name-1">
            <h3>Top 10</h3>
        </div>
    </div>

    <div class="wrapper">
            <div class="img-cat">
                <!-- loop show cat Top 10 -->
                <div class="show-cat">
                    <div class="rank">
                        <h4>1</h4>  <!-- ดึง rank มาแสดง-->      
                    </div>
                    <img src="../../../assets/img/American Shorthair.png">

                    <div class="like">
                        <h5>69 Like</h5>
                        <i class='bx bxs-heart'></i>
                    </div>
                </div>

                <div class="show-cat">
                    <div class="rank">
                        <h4>1</h4>  <!-- ดึง rank มาแสดง-->      
                    </div>
                    <img src="../../../assets/img/American Shorthair.png">

                    <div class="like">
                        <h5>69 Like</h5>
                        <i class='bx bxs-heart'></i>
                    </div>
                </div>

                <div class="show-cat">
                    <div class="rank">
                        <h4>1</h4>  <!-- ดึง rank มาแสดง-->      
                    </div>
                    <img src="../../../assets/img/American Shorthair.png">

                    <div class="like">
                        <h5>69 Like</h5>
                        <i class='bx bxs-heart'></i>
                    </div>
                </div>

                <div class="show-cat">
                    <div class="rank">
                        <h4>1</h4>  <!-- ดึง rank มาแสดง-->      
                    </div>
                    <img src="../../../assets/img/American Shorthair.png">

                    <div class="like">
                        <h5>69 Like</h5>
                        <i class='bx bxs-heart'></i>
                    </div>
                </div>

                <div class="show-cat">
                    <div class="rank">
                        <h4>1</h4>  <!-- ดึง rank มาแสดง-->      
                    </div>
                    <img src="../../../assets/img/American Shorthair.png">

                    <div class="like">
                        <h5>69 Like</h5>
                        <i class='bx bxs-heart'></i>
                    </div>
                </div>

                <div class="show-cat">
                    <div class="rank">
                        <h4>1</h4>  <!-- ดึง rank มาแสดง-->      
                    </div>
                    <img src="../../../assets/img/American Shorthair.png">

                    <div class="like">
                        <h5>69 Like</h5>
                        <i class='bx bxs-heart'></i>
                    </div>
                </div>

                <div class="show-cat">
                    <div class="rank">
                        <h4>1</h4>  <!-- ดึง rank มาแสดง-->      
                    </div>
                    <img src="../../../assets/img/American Shorthair.png">

                    <div class="like">
                        <h5>69 Like</h5>
                        <i class='bx bxs-heart'></i>
                    </div>
                </div>
                
                <div class="show-cat">
                    <div class="rank">
                        <h4>1</h4>  <!-- ดึง rank มาแสดง-->      
                    </div>
                    <img src="../../../assets/img/American Shorthair.png">

                    <div class="like">
                        <h5>69 Like</h5>
                        <i class='bx bxs-heart'></i>
                    </div>
                </div>

                <div class="show-cat">
                    <div class="rank">
                        <h4>1</h4>  <!-- ดึง rank มาแสดง-->      
                    </div>
                    <img src="../../../assets/img/American Shorthair.png">

                    <div class="like">
                        <h5>69 Like</h5>
                        <i class='bx bxs-heart'></i>
                    </div>
                </div>

                <div class="show-cat">
                    <div class="rank">
                        <h4>1</h4>  <!-- ดึง rank มาแสดง-->      
                    </div>
                    <img src="../../../assets/img/American Shorthair.png">

                    <div class="like">
                        <h5>69 Like</h5>
                        <i class='bx bxs-heart'></i>
                    </div>
                </div>

            </div>
    </div>
</div>
