<mat-toolbar>
    <button routerLink="user-rating">Rating</button>
    <button routerLink="/topten">Top10</button>
    <button routerLink="/login">Login</button>
    <button routerLink="/createaccount">Sing up</button>
</mat-toolbar>


<div class="container">
    
    <div class="name">
        <div class="name-1">
            <h3>Amerrican Shorthair</h3>
        </div>
        
        <div class="or">
            <h3>OR</h3>
        </div>

        <div class="name-2">
            <h3>Chinchilla cat</h3>
        </div>
    </div>

    <div class="wrapper">
        <div class="img-1">
            <img src="../../../assets/img/American Shorthair.png" alt="">
        </div>

        <div class="img-2">
            <img src="../../../assets/img/Chinchillacat.png" alt="">
        </div>
    </div>

    <div class="title-cilck">
         <h3>Click on the image to vote</h3>
         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
          </svg>
    </div>

</div>